body {
    font-family:Roboto; 
    font-size:15pt;
    background-color: #8692A8;
}

h1, h2, h3, h4, h5, h6 {
    font-family:Almendra;  
    text-align: center;
}
h1 {
    font-size: 40pt;
}
header {
    text-align:center;
}

#intro, footer {
    border: 5px solid #A4B0FA;
    background-color:#63BBE5;
    text-align:center;
    padding:10px;
}

#intro img {
    width:300px;
}

#bio {
    text-align:center;
}

#hobbies {
    ul {
        list-style: none;
        padding: 0;
      }
    li:hover {
    color: #8e1df8;
    font-weight: bold;
    transition: 0.1s;
    }
    li::before {
    content: "►";
    color: #000000;
    font-weight: bold;
    margin-right: 8px;
    transition: color 0.1s ease-in-out;
  }
    li:hover::before {
    color: #8e1df8;
  }   
}